@import url(root.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pageMain{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    border-radius: 1em;
    border: 2px solid var(--cor-primaria-bg);
}
#pageMain a{
    display: flex;
    flex-direction: column;
    color: var(--cor-dark);
    text-decoration: none;
    text-align: center;
    background-color: var(--cor-primaria-bg);
    padding: 1em;
    border-radius: 1em;
    gap: 0.5em;
}
#pageMain a:hover{
    outline: 2px solid var(--cor-dark);
}
#pageMain a i{
    font-size: 5em;
}