@import url("root.css");

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.containerProfiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

.profile{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria-bg);
    padding: 1em;
    border-radius: 1em;
    color: var(--cor-dark);
    gap: 0.5em;
    transition: 0.3s;
}

.profile:active{
    transform: scale(0.9);
    transition: 0.3s;
}

.profile:hover{
    outline: 2px solid var(--cor-dark);
}

.profile:hover i{
    color: var(--cor-dark);
    transform: rotateY(180deg);
    transition: 0.3s;
}

.profile i{
    color: var(--cor-terciaria);
    font-size: 5em;
    transition: 0.3s;
}

.profile a{
    color: var(--cor-dark);
    font-weight: 600;
    border-radius: 0.5em;
    padding: 0.3em;
    text-decoration: none;
}

